        .page--menu-page__background {
            background-color: #333;
        }

        .page--menu-page__content {
            color: white;
        }

        .menu-close,
        .menu-close > .toolbar-button {
            color: #999;
        }

        .menu-list,
        .menu-item:first-child,
        .menu-item:last-child,
        .menu-item {
            background-color: transparent;
            background-image: none !important;
            border-color: transparent;
            color: #fff;
        }

        .menu-item {
            padding: 0 0 0 20px;
            line-height: 52px;
            height: 52px;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
        }

            .menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

        .menu-notification {
            display: inline-block;
            margin-top: 12px;
            font-size: 14px;
            height: 16px;
            line-height: 16px;
            min-width: 16px;
            font-weight: 600;
        }

        .bottom-menu-list,
        .bottom-menu-item:first-child,
        .bottom-menu-item:last-child,
        .bottom-menu-item {
            border-color: #393939;
            background-color: transparent;
            background-image: none !important;
            color: #ccc;
        }

            .bottom-menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        
        .login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

.text-input--underbar {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
        
        
        .tab {
            line-height: 1;
        }

        .tab-icon {
            font-size: 24px;
            padding: 0;
            margin: 0;
            vertical-align: top;
            line-height: 28px;
        }

        .tab-label {
            line-height: 11px;
            vertical-align: top;
            font-size: 11px;
        }

        .profile-wrapper {
            padding: 16px 10px 0 10px;
        }

        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            background-color: #ccc;
        }

        .profile-name {
            font-size: 18px;
            padding: 4px 0 2px 0;
        }

        .profile-email {
            font-size: 15px;
            opacity: 0.4;
        }

        .switch--list-item {
            margin-right: 0px;
        }

        .Message-header {
            font-weight: 500;
            font-size: 14px;
            opacity: 0.4;
            padding: 10px 0 0px 10px;
            margin-bottom: -4px;
        }

        .Message-list {
            margin-top: 10px;
        }

        .item {
            padding: 10px;
            line-height: 1;
        }

        .item-thum {
            background-color: #ccc;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
        }

        .item-title {
            font-size: 15px;
            font-weight: 500;
        }

        .item-desc {
            font-size: 14px;
            color: #666;
            line-height: 1.3;
            margin: 4px 0 0 0;
            padding: 0 30px 0 0;
        }

        .item-label {
            font-size: 12px;
            color: #999;
            float: right;
        }
        
        .list-item-container {
            line-height: 1;
            font-size: 14px;
            padding: 15px 0px 15px 15px;
        }
        
        .list-item-left {
            width: 60px;
            margin-right: -60px;
            float: left;
        }
        
        .list-item-right {
            width: 100%;
            float: right;
        }
        
        .list-item-content {
            margin-left: 50px;
            margin-right: 30px;
        }
        
        .avator {
            width: 40px;
            height: 40px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
        }
        
        .name {
            font-weight: 500;
            line-height: 16px;
            font-size: 15px;
            margin-bottom: 6px;
        }
        
        .desc {
            line-height: 16px;
        }
        
        .lucent {
            opacity: 0.4;
        }