    <ion-nav-bar class="bar-stable">
          <ion-nav-title>
      Chat
    </ion-nav-title>
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>		
<ion-view >
        <ion-content class="padding has-header">
          {{conversationList}}

<ul id="messages" ng-show="conversationList.length">
  <li ng-repeat="conversationList in conversationList">{{conversationList.$id}}</li>
  {{messages}}
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>

<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>

  


          </ion-content>
      </ion-view>