    <ion-nav-bar class="bar-stable">
          <ion-nav-title>
      Chat
    </ion-nav-title>
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>		
<ion-view >
        <ion-content class="padding has-header">
 



<div class="list" ng-repeat="conversation in conversations">

    <a class="item item-avatar" href="#/chatSingle/{{conversation.$key}}">
      <img src="{{ userGravatar[$index] }}">
      <h2 ng-init="getUser(conversation.conversation.members, $index)">{{ userName[$index] }}</h2>
      <p ng-init="lastMessage = getLastMessage(conversation.conversation.messages)">{{ lastMessage }} </p>
    </a>
</div>

          </ion-content>
      </ion-view>