
<h2>Chat</h2>
{{params.from}}
<form>
  <input class="text-input"  placeholder="Message..." ng-model="newMessage">
  <button type="submit" class="button--cta" ng-click="addMessage(newMessage);newMessage = null;">send</button>
</form>

<ul id="messages" ng-show="messages.length">
  <li ng-repeat="message in messages | reverse">{{message.text}}</li>
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>

  <div class="comment">
    <a class="avatar">
      <img src="http://dummyimage.com/60/e6e6e6/fff.jpg&text=D+C">
    </a>
    <div class="content">
      <a class="author">Dusty</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
            How artistic!
      </div>
      <div class="actions">
      </div>
    </div>
  </div>