    <ion-nav-bar class="bar-stable">
          <ion-nav-title>
      Feed
    </ion-nav-title>
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>		
<ion-view >
        <ion-content class="padding has-header">
<p ng-show="geerItem">{{geerItem}}</p>



<form>
  <input placeholder="Items..." ng-model="newItem">
  <button type="submit" ng-click="addItem(newItem);newItem = null;">send</button>
</form>


       </ion-content>
</ion-view>

