    <ion-nav-bar class="bar-stable">
          <ion-nav-title>
      Create Item
    </ion-nav-title>
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>		
<ion-view >
        <ion-content class="padding has-header">
<p ng-show="geerItem">{{geerItem}}</p>



<form ng-submit="addItem(newItem);newItem = null;">
  <input placeholder="Name..." ng-model="newItem.name">
  <input placeholder="Price..." ng-model="newItem.price">
  <input placeholder="Description..." ng-model="newItem.description">
  <input placeholder="Tags..." ng-model="newItem.tags">
  <button type="submit">send</button>
</form>


       </ion-content>
</ion-view>

